.wp-block-columns {
  &:not(.alignwide):not(.alignfull) {
    clear: both;
  }

  .wp-block-column {
    > * {
      margin-top: calc(0.66 * var(--global--spacing-vertical));
      margin-bottom: calc(0.66 * var(--global--spacing-vertical));

      @include media(mobile) {
        margin-top: var(--global--spacing-vertical);
        margin-bottom: var(--global--spacing-vertical);
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .wp-block-column:not(:last-child) {
    margin-bottom: calc(0.66 * var(--global--spacing-vertical));

    @include media(mobile) {
      margin-bottom: var(--global--spacing-vertical);
    }

    @include media(desktop) {
      margin-bottom: 0;
    }
  }

  &.is-style-twentytwentyone-columns-overlap {
    justify-content: space-around;

    @include media(laptop) {
      .wp-block-column {
        &:nth-child(2n) {
          margin-left: calc(-2 * var(--global--spacing-horizontal));
          margin-top: calc(2.5 * var(--global--spacing-horizontal));
          z-index: 2;

          // Provide text-based child blocks with a default background color to ensure they're readable.
          > p,
          > h1,
          > h2,
          > h3,
          > h4,
          > h5,
          > h6,
          > ul,
          > ol,
          > pre {
            &:not(.has-background) {
              background-color: var(--global--color-background);
              padding: var(--global--spacing-unit);
            }
          }

          // Lists should still have their usual left padding.
          > ul:not(.has-background),
          > ol:not(.has-background) {
            padding-left: calc(2 * var(--global--spacing-horizontal));
          }

          &.is-vertically-aligned-center {
            margin-top: 0;
          }
        }
      }
    }
  }

  &.alignfull {
    .wp-block-column {
      p:not(.has-background),
      h1:not(.has-background),
      h2:not(.has-background),
      h3:not(.has-background),
      h4:not(.has-background),
      h5:not(.has-background),
      h6:not(.has-background) {
        padding-left: var(--global--spacing-unit);
        padding-right: var(--global--spacing-unit);
      }
    }
  }
}

.front-page--search {
  background-color: var(--global--color-blue);
  color: #fff;
  form.searchandfilter#search-filter-form-488 {
    @extend %responsive-alignwide-width;
    ul {
      padding: calc(var(--global--spacing-unit) / 2) var(--global--spacing-unit);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
      grid-gap: var(--global--spacing-unit);
      li.sf-field-post-meta-time_of_year ul,
      li.sf-field-post-meta-genders_served ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: calc(var(--global--spacing-unit) / 2);
      }
    }
  }
}

.search-filter-result-item {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--global--spacing-unit);
  justify-content: center;
  img {
    flex-basis: 30%;
    max-width: 175px;
    margin: 0 !important;
  }
  h2 {
    color: var(--global--color-blue);
    font-size: var(--heading--font-size-h3);
  }
  .resource--img {
    max-height: 350px;
  }
  .resource--info {
    flex-basis: 60%;
    flex-grow: 2;
    margin: 0 !important;
    h2 a {
      color: var(--global--color--blue);
      padding-bottom: var(--global--spacing-unit);
    }
    dl {
      *:not(a) {
        word-break: keep-all;
      }
      dd {
        padding-left: calc(var(--global--spacing-unit) / 2);
        font-size: var(--global--font-size-sm);
      }
      div {
        dd,
        dt {
          h4,
          a,
          strong,
          p {
            line-height: 1;
          }
        }
      }
    }
    div {
      display: flex;
      color: var(--global--color-gray);
    }
    &--list {
    }
    &--org {
      dd {
        padding-left: 0 !important;
        h4 {
          font-size: var(--global--font-size-md);
          font-style: italic;
        }
      }
    }
    p {
      line-height: 1;
      a.more-link {
        display: block;
        float: right;
        color: var(--global--color-blue);
        font-weight: 700;
      }
    }
  }
}
.tags {
  display: flex;
  justify-content: start;
  gap: var(--global--spacing-unit);
  flex-wrap: wrap;
  padding-top: var(--global--spacing-unit);
  &--title {
    color: var(--global--color-blue);
    font-size: var(--global--font-size-sm);
    word-break: keep-all;
    font-size: 0.9rem;
  }
}

//search bar
form.searchandfilter {
  ul {
    li {
      li {
        padding: 0;
      }
      h4 {
        font-size: var(--heading--font-size-h4);
        border-bottom: solid var(--global--color-white) 2px;
        width: 100%;
        text-underline-offset: 5px;
        padding-bottom: 0;
        margin-bottom: calc(var(--global--spacing-vertical) / 2);
      }
    }
    li.sf-field-search {
      label {
        width: 99% !important;
        input {
          width: 100%;
        }
      }
    }
    li.sf-field-post-meta-grades_served {
      .sf-meta-range.sf-meta-range-slider {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr auto auto auto;
        span {
          order: 2;
          font-size: var(--global--font-size-lg);
          font-weight: 700;
          &.sf-range-min {
            padding-left: calc(2 * var(--global--spacing-unit));
          }
        }
        div.meta-slider {
          min-width: 70%;
          max-width: 100%;
          width: 100%;
        }
      }
    }
    li.sf-field-post-meta-category,
    li.sf-field-post-meta-location {
      label {
        width: 100%;
        select.sf-input-select {
          width: clamp(170px, 100%, 400px);
        }
      }
    }
    li.sf-field-post-meta-genders_served,
    li.sf-field-post-meta-time_of_year {
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: calc(var(--global--spacing-unit) / 2);
        li {
          input {
            display: none;
          }
          label {
            border: 2px solid var(--global--color-white);
            padding: 5px 10px;
            word-break: keep-all;
            color: #fff;
            background-color: var(--global--color-blue);
            &:hover,
            &:active {
              color: var(--global--color-blue);
              background-color: #fff;
            }
          }
          &.sf-option-active {
            label {
              color: var(--global--color-blue);
              background-color: #fff;
            }
          }
        }
      }
    }
    li.sf-field-reset a {
      color: #fff;
      text-align: right;
    }
  }
}

//Hide first items in lists
li.sf-level-0.sf-item-0 {
  display: none;
}
